/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.footer {
    background-color: #6D5B4F;
    color: white
}

#nav-iniciarID-tab,
#nav-crearID-tab {
    color: rgb(61, 31, 10);

}

#nav-iniciarID-tab:active,
#nav-iniciarID-tab:hover,
#nav-crearID-tab:hover,
#nav-crearID-tab:active {
    color: rgb(156, 59, 21);
    text-decoration: underline;

}

.fondoRegistro {
    background-image: url(https://res.cloudinary.com/dgykuefoq/image/upload/v1692010058/amarta/im%C3%A1genes/cara/crema_mar_vvrqwe.png)
}

.fondoContacto {
    background-image: url(https://res.cloudinary.com/dgykuefoq/image/upload/v1692010052/amarta/im%C3%A1genes/cuerpo/oli_mercuri_hki5dh.png)
}

.title-home {
    font-family: 'Libre Bodoni', serif;

}

.img-home {
    background-image: url("../img/img293.jpg");

}


.btn-container {
    display: inline-block;
    position: relative
}

.btn-shop {
    font-size: 30px;
    color: black;
    font-family: 'Libre Bodoni', serif;
    background: transparent;
    padding: 10px 20px;
    border: none;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: white
}

.btn-shop::before {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 120px solid rgba(255, 255, 255, 0.3);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    z-index: 1;
}

.btn-shop:hover {
    text-decoration: underline;
    color: black
}

@media (max-width: 376px) {
    .imgHome{
        display: none;
    };

}
